<html>
	
<head>

<link href="/css/style.css" type="text/css" rel="stylesheet" width=100% />

	<title>Chitter</title>


</head>

<body>

	<section class="top_nav_bar">
		<img id='logo' src='/images/logo.jpeg' height=5%>

	</section>

<section class="welcome">
	<%= partial :welcome_sign_out %>
</section>
	

	<%= partial :errors %>
	<%= partial :notice %>
	<%= partial :sign_up %>
	<%= partial :sign_in %>
	<%= partial :peep_list %>

</body>


<footer>
Made by @ynzc, student @makers_academy
</footer>

</html>